/4405.eps
/450px-Media-Queries.png
/css-media-query.png
/CV
/exemplo.txt
/git
/html5-tags-semanticas-estrutura-site-seo.jpg
/Manu Amora
/media-queries-breakpoint.jpg
/PUC Minas_WEB Full Stack
/responsive-webdesign-38-638.jpg
/ROCKESEAT
/UX- udemy
/ux.docx
/UX_cousera.docx